.spacer {
  height: 100px;
}

.panel {
  padding: 15px;
  margin-bottom: 1.25rem;
  border-radius: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16),
    0 0 2px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 2px 0 rgba(0, 0, 0, 0.12);
}

.scores-message {
  position: fixed;
  right: 12px;
  top: 12px;
}

.toolbox {
  position: fixed;
  right: 12px;
  bottom: 12px;
}

.rating-stars {
  font-size: 1.3rem;
}

.golden {
  color: #f8ce0b;
}

.scores-message {
  z-index: 1;
}
